@import "icons";
@import "pure-min";


$fontFamily: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;


body {
    color: #555;
}

body, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: $fontFamily;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.pull-right {
    float: right;
}
.with-block {
    display: block;
}
.with-inline {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
.with-pill {
    display: block;
    margin: 5px;
    padding: 2px 6px;
    border-radius:2px;
    white-space: nowrap;
    -webkit-transition: all 500ms;
            transition: all 500ms;
    span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 90%;
        float: right;
    }
}
.with-pill:hover {
    background-color: #0078e7;
    color: #fff;
}
.is-selected {

}

.navbar {
    padding: 20px;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image:    -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image:         linear-gradient(to bottom, #ffffff, #f2f2f2);

    > button,
    > label,
    > .c-FolderPicker {
        margin-right: .5em;
    }
}

button .count {
    margin-left: .3em;
}

.icon-checkmark + .icon-checkmark,
.icon-checkmark2 + .icon-checkmark2 {
    margin-left: -9px;
    opacity: .5;
}

.diff-path {
    font-family: monospace,serif;
    white-space: pre-wrap;
    margin: 1em;
    font-size: 12px;
}

.c-App {
    padding-top: 80px;
}

.c-FileList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.c-FileItem {
    margin: 10px;
    width: 240px;
}

.empty-msg {
    margin: 10px;
    width: 100%;
    text-align: center;
}

.c-FileItem {
    img {
        max-width: 240px;
        max-height: 240px;
        -webkit-transition: opacity 250ms;
                transition: opacity 250ms;
    }
    a {
        display: inline-block;
        position: relative;
        -webkit-transition: all 500ms;
                transition: all 500ms;
    }
    a:hover {
        border-radius: 4px;
        box-shadow: 0 0 4px 2px #0078e7;
    }
}

.c-FileDetail {
    position: fixed;
    z-index: 2;
    top: 15px;
    left: 15px;
    right: 25px;
    bottom: 15px;
    padding: 20px;
    max-width: 1024px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 2px 3px 4px 4px rgba(32,32,32,.3);
    -webkit-transition: opacity 350ms;
            transition: opacity 350ms;

    .navbar {
        margin: -20px -20px 0 -20px;
        border-radius: 8px 8px 0 0;
        box-shadow: 0 0 2px rgba(0,0,0,.3);
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .visuals {
        position: relative;
        margin: 10px;
    }
    .visual {
        position: absolute;
        top: 2px;
        left: 0;
        background-color: #fff;
    }
    .visual:hover:after {
        opacity: 1;
    }
}

